<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Dizplai</title>
</head>
<body>
    <div id="wrapper">
        <div class="row">
            <div class="logo-row">
              <img src="/assets/logo.png" alt="logo" class="logo">
            </div>
        </div>

        <div id="headercontainer">
            <div class="header1">
                Answer our Polls
            </div>
            <div class="header2">
                Click Below to Begin
            </div>
        </div>
        <div class="buttoncontainer">
            <a class ="initbutton" href="/poll/1">Let's Go!</a>
        </div>
    </div>
</body>
</html>
