@font-face{
    font-family: 'OutfitFont';
    src: url(/assets/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 1000;
}

body {
    overflow: hidden;
    background: url('assets/background.jpg')repeat 0 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    text-align: center;
    font-family: OutfitFont;
}

.logo {
    width: 100%;
    height: 100%;
}
.logo-row {
    width: 200px;
    margin: 0 auto;
    padding: 5vh;
}

#headercontainer{
    color:#ffffff;
    font-size: 52px;
}

.header1{
    font-weight:400;
}

.header2{
    font-weight:600;
    padding-bottom: 2%;

}

.errorheader{
    font-weight: 300;
    font-size: 20px;
}

.hiding{
    display: none;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
  
.button {
    font-family: inherit;
    font-weight: 500;
    width: 390px;
    height: 80px;
    font-size: 28px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border: 4px solid #8C8C8C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 0px;
    max-height: 80px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ddd;
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlight{
    border: 8px solid #8C8C8C;
    border-color: #ddd;
}

.submitbutton{
    font-family: inherit;
    font-weight: 600;
    width: 390px;
    height: 80px;
    font-size: 26px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 1);
    color: #996BF9;
    border: 3px solid #8C8C8C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 0px;
}

.submitbutton:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #ddd;
}

.submitbutton:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.initbutton {
    font-family: inherit;
    font-weight: 500;
    width: 390px;
    height: 80px;
    font-size: 28px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border: 4px solid #8C8C8C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 75px;
}

.initbutton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ddd;
}

.initbutton:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pollBar{
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #ffffff;
    border-radius: 5px;
    height: 80px;
    margin-bottom: 20px;
    width: 390px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.pollBarPercentage{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: OutfitFont;
    font-size:15px;
    color: #ffffff;
}

.pollBarName{
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translateX(50%);
    font-family: OutfitFont;
    font-size:15px;
    color: #ffffff;
}

.pollBarFill{
    width: 0%;
    height: 100%;
    background: #9968f9;
}